<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'evrekapp/style.css' %}">
    <meta charset="utf-8">
    <title>Evreka Assignments</title>
  </head>
  <body>
    <h1>Evreka assignments</h1>
    <ol>
      <li>
        <a href="{% url 'evrekapp:firstAssignment' %}">Go to first assignment</a>
      </li>
      <li>
        <a href="{% url 'evrekapp:secondAssignment' %}">Go to second assignment</a>
      </li>
    </ol>
  </body>
</html>
